# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual Environments
env/
venv/
.venv/
ENV/

# PyInstaller / Build artifacts
build/
dist/
*.egg-info/

# Logs
logs/
*.log

# Application specific data
data/settings.json

# IDEs / OS files
.vscode/
.idea/
.DS_Store
Thumbs.db
